###############################################################
##
##		EXCLUDE MACOS ITEMS
##
###############################################################

.DS_Store
__MACOSX

###############################################################
##
##		EXCLUDE CONFIGURATION AND LOG FILES
##
###############################################################

*.ini
*.env

###############################################################
##
##		EXCLUDE OR INCLUDE COMPOSER AND VENDOR FILES
##
###############################################################

composer.json
composer.lock
vendor/*
!vendor/.htaccess

###############################################################
##
##		EXCLUDE OR INCLUDE CACHE FILES
##
###############################################################

cache/*

###############################################################
##
##		EXCLUDE OR INCLUDE TEMPORARY FILES
##
###############################################################

tmp/*